<!DOCTYPE HTML>
<html>
  <head>
    <title>Tim Olimpiade Komputer Indonesia</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
  </head>
  <body>
    
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
  </body>
</script>